<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kompetencje pracownicze</title>
    <script src="scripts/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{user.FirstName.split("").reverse().join("")}} {{user.LastName}}</p>
        <input v-model="user.FirstName" v-bind:disabled="!edit">
        <input type="checkbox" v-model="edit">
    </div>
        <script>
            Vue.createApp({
                data(){
                    return {
                        user: { FirstName: "Mateusz", LastName: "Chojnowski"},
                        edit: true
                    }
                }
            }).mount("#app");
        </script>
</body>
</html>